<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <header class="header box">
            <h1 class="title">Travel Planner</h1>
        </header>

        <div id="picture" class="picture box">
            
        </div>

        <div class="post box">
            <div class="form">
                <div class ="holder city">
                    <label for="city">My trip to:</label>
                    <input type="text" id="city" placeholder="enter city here">
                </div>
                <div class ="holder depart">
                    <label for="departure-date">Departing:</label>
                    <input type="date" id="departure-date" required pattern="\d{4}-\d{2}-\d{2}" placeholder="yyyy-mm-dd"/>
                </div>
                <div class="button">
                    <button id="generate" type = "submit" onclick="return Client.handleClick()"> Save Trip </button>
                    <button id="remove" type = "submit" onclick="return Client.handleCancel()"> Remove Trip </button>
                </div>
            </div>
            <div class="info">
                <div id="departing"></div>
                <div id="travel-info"></div>
                <h2 class="text">Typical weather for then is:</h2>
                <div id="temp"></div>
                <div id="description"></div>
            </div>
            
        </div>
        
        <footer class="footer box">

        </footer>
        <script>
        
        // Check that service workers are supported
        if ('serviceWorker' in navigator) {
            // Use the window load event to keep the page load performant
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('/service-worker.js');
            });
        }
        </script>
    </div>
</body>
</html>